* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.veg-cards {
  display: flex;
  gap: 20px;
  margin: 20px 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.veg-cards .veg-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.veg-card img {
  display: flex;
  width: 95%;
  height: 200px;
  border-radius: 5px;
  margin: auto;
}

.veg-card img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.veg-card p {
  margin: 4px 0px;
}

.veg-card button {
  margin: 5px 0px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

.veg-card .add-to-cart {
  background-color: rgb(241, 170, 36);
}

.veg-card .order-now {
  background-color: rgb(87, 171, 87);
}